	body{
		margin: 0px;
		padding:0px;
		font-family: 'News Cycle', sans-serif;
		background-color: #006fb9;
	}
	.image{
		background-size: cover;
		width:200px;
		height:200px;
		border-radius: 150px;
		-webkit-border-radius: 150px;
		-moz-border-radius: 150px;
		float:left;
		margin-right: 35px;
		margin-top:30px;
	}
	.quote{
		width:400px;
		font-size: 24px;
		font-style: italic;
		text-align: center;
		color:#DFDFDF;
		padding-top: 50px;
		float:left;
		min-height: 200px;
		margin-bottom: 20px;
	}

	.quotemark{
		font-size: 100px;
		color:#999999;
		vertical-align: text-top;
		float:left;
		margin:2px;
	}
	.main{
		width:750px;
		height:300px;
		margin-left:auto;
		margin-right:auto;
		margin-top: 200px;

	}
	.button {
		clear:both;
		font-weight: bold;
		border-radius: 12px;
		background: #ffc20e;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,#ffc20e 0%,#e3aa00 100%);
		background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffc20e),color-stop(100%,#e3aa00));
		background: -webkit-linear-gradient(top,#ffc20e 0%,#e3aa00 100%);
		background: -o-linear-gradient(top,#ffc20e 0%,#e3aa00 100%);
		background: -ms-linear-gradient(top,#ffc20e 0%,#e3aa00 100%);
		background: linear-gradient(to bottom,#ffc20e 0%,#e3aa00 100%);
		display:inline-block;
		color:#ffffff;
		font-size:24px;
		font-weight:100;
		font-style:normal;
		height:65px;
		line-height:65px;
		width:200px;
		text-decoration:none;
		text-align:center;
		margin-top:30px;
		margin-left: 275px;
		display: block;
	}

.button:hover {
	background: #e3aa00;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,#e3aa00 0%,#ffc20e 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#e3aa00),color-stop(100%,#ffc20e));
	background: -webkit-linear-gradient(top,#e3aa00 0%,#ffc20e 100%);
	background: -o-linear-gradient(top,#e3aa00 0%,#ffc20e 100%);
	background: -ms-linear-gradient(top,#e3aa00 0%,#ffc20e 100%);
	background: linear-gradient(to bottom,#e3aa00 0%,#ffc20e 100%);
}

a:hover{
	color:#ffffff;
	text-decoration:none;
}

a:active{
	text-decoration:none;
}

a:focus{
	text-decoration:none;
}

.add_new{
	color:#ffffff;
	font-size:13px;
	text-decoration:underline;
}

.refer{
	color:#C3C4A3;
	font-size: 10px;
	text-align:right;
}
footer {
	background-color: #333;
	width: 100%;
	bottom: 0;
	position: absolute;
	color:#FFFFFF;
	text-align: center;
	padding: 5px;
}
footer a{
			color:#006fb9;
}
.links a{
  color:#cccccc;
  opacity:60%;
  font-size:20px;
}

.links .fa-twitter:hover{
	color:#4099FF;
  text-decoration:none;
}

.links .fa-facebook:hover{
	color:#3b5998;
  text-decoration:none;
}

.links .fa-google-plus:hover{
	color:#d34836;
  text-decoration:none;
}
	
